body {
  font: 1.2em / 1.5 sans-serif;
}
#special {
  background-color: yellow;
}
.alert {
  border: 2px solid gray;
}
.alert.stop {
  background-color: red;
}
.alert.go {
  background-color: green;
}
