body {
  font-family: sans-serif;
}

* {
  margin: 0;
}
/* never do
 * article :first-child
 * (although it is valid, it looks like)
 * article:first-child
 * which is different. (1 - first child of article. 2 - article that is first child itself)
 * */
article *:first-child {
  font-weight: bold;
}
