/*body {
  font-family: sans-serif;
}
li[class] {
  font-size: 120%;
}

li[class="a"] {
  background-color: yellow;
}

li[class~="a"] {
  color: red;
}

li[class="ab"] {
  color: white;
  background-color: purple;
}
*/
body {
  font-family: sans-serif;
}
li[class^="a"] {
  font-size: 120%;
}

li[class$="a"] {
  background-color: yellow;
}
li[class$="b"], li[class$="c"] {
  border: 2px solid black;
  background-color: yellow;
}

li[class*="a"] {
  color: red;
}
