/*direct child*/
ul > li {
  border-top: 5px solid red;
}



body {
  font-family: sans-serif;
}

/*next sibling*/
/*h1 + * + p {
  font-weight: bold;
  background-color: #333333;
  color: white;
  padding: 0.5em;
}*/

h1 ~ p {
  font-weight: bold;
  background-color: #333333;
  color: white;
  padding: 0.5em;
}
