.box {
  border: 5px solid black;
  height: 350px;
}

.box {
  background-image: url("../assets/eve.png");
  background-repeat: no-repeat;
  background-position: center 10% ;
  /*background-origin: padding-box;*/
}
