/* reset */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}
/*^reset^*/
/* input */
input {
  border: 2px solid #999999;
  padding: 10px;
  border-radius: 5px;
}
/*^input^*/

/* button */
button {
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  padding: 10px 2em;
}
button:hover,
button:focus {
  background: #666666;
}

button:disabled {
  background: #aaaaaa;
}
/*^button^*/

/* table */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

thead th,
tbody td {
  padding: 0.6em;
  vertical-align: top;
}
thead th {
  border-bottom: 1px solid #999999;
}
tbody tr {
  width : 20%;
}
tbody tr:nth-child(4) {
  width : 40%;
}

tbody tr:nth-child(1) td:nth-child(2) {
  background: rgb(255 192 203);
}
tbody tr:nth-child(2) td:nth-child(2) {
  background: rgb(255 145 175);
}
tbody tr:nth-child(3) td:nth-child(2) {
  background: rgb(255 105 180);
}
tbody tr:nth-child(4) td:nth-child(2) {
  background: rgb(255 0 255);
}
tbody tr:nth-child(odd) {
  background: #eeeeee;
}
caption {
  padding: 1em;
  font-style: italic;
  letter-spacing: 1px;
}

/*^table^*/


/* image */
img {
  object-fit: cover;
  object-position: bottom;
}
/*^image^*/





* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0 10px;
}

hr {
  margin: 3em 0;
}

h2 {
  margin-top: 0;
}

/* Prev/next control layout */

.controls {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

/* Form and button styling */

form div {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-bottom: 1em;
}

label {
  text-align: right;
  flex: 1;
}

input {
  flex: 3;
}

/* Table styling */

table img {
  width: 100%;
  height: 150px;
}
