body {
  padding: 1em;
  font: 1.2em / 1.5 sans-serif;
}
* {
  box-sizing: border-box;
}
.box {
  width: 300px;
  padding: 0.5em;
}

.box {
  border: 5px solid lightblue;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 40px;
  /* Add styles here */
}

h2 {
  padding: 0 10px;
  text-align: center;
  background: url("https://mdn.github.io/shared-assets/images/examples/star.png") no-repeat left center,
  url("https://mdn.github.io/shared-assets/images/examples/star.png") repeat-y right center ;
  /* Add styles here */
}
